@import "../../../style/variables.scss";

.icon {
  width: 4rem;
  margin: 0 auto;
  display: block;
  margin-bottom: 1rem;
  opacity: 0.8;
}

.text {
  text-align: center;
  margin-bottom: 1rem;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8rem;
  height: 3rem;
  border: 1px solid lightblue;
  color: lightblue;
  border-radius: 20rem;
  background-color: white;
  outline: none !important;
  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
