<div class="header">
  <div class="header__container">

    <!-- speakers search -->
    <div class="header__search">
      <input class="header__search--input" type="text" [(ngModel)]="searchText">
      <button class="header__search--button" (click)="speakersSearch();">
        <app-icon-search className="header__search--icon"></app-icon-search>
      </button>
    </div>
  
    <!-- bulk edit button -->
    <button class="header__edit--button" [ngClass]="{'header__edit--button--disabled': bulkEditData.ids.length}" (click)="bulkEdit();">bulk edit</button>
  </div>

  <!-- text area for bulk edit -->
  <div class="header__container" *ngIf="bulkEditData.ids.length">
    <div class="header__edit">
      <textarea class="header__edit--input" name="bulk-edit" id="bulk-edit" [rows]="bulkEditData.ids.length" [(ngModel)]="bulkEditData.text"></textarea>
      <button class="header__edit--check" (click)="verifyBulkEdit();">
        <app-icon-check className="header__edit--icon"></app-icon-check>
      </button>
    </div>
  </div>
</div>

<div class="user-card" *ngFor="let speaker_item of speakers">

  <!-- arrow button -->
  <button class="user-card__arrow-button" (click)="!speakerSessions.id || speakerSessions.id !== speaker_item.id ? getSpeakerSessions(speaker_item.id) : speakerSessions = {id: '', list: []};">
    <app-icon-left-arrow [className]="speakerSessions.id && speakerSessions.id === speaker_item.id ? 'user-card__arrow-icon user-card__arrow-icon--active' : 'user-card__arrow-icon'"></app-icon-left-arrow>
  </button>

  <!-- card content -->
  <div class="user-card__content">

    <!-- title and detail tooltip -->
    <div class="user-card__title" *ngIf="!speaker_item.data[0].is_editing">
      <mat-checkbox [(ngModel)]="speaker_item.data[0].is_checked"></mat-checkbox>
      <p class="user-card__title--text" (click)="speaker_item.data[0].is_editing = true" (mouseenter)="getSpeakerDetail(speaker_item.id)">{{ speaker_item.data[0].value }}</p>
      <div class="user-card__tooltip">
        <mat-spinner class="user-card__tooltip--spinner" *ngIf="!speakerDetail.value"></mat-spinner>
        <p class="user-card__tooltip--text" *ngIf="speakerDetail.value">{{ speakerDetail.value }}</p>
      </div>
    </div>

    <div class="user-card__input" *ngIf="speaker_item.data[0].is_editing">
      <input class="user-card__input--input" type="text" [(ngModel)]="speaker_item.data[0].value">
      <button class="user-card__input--button" (click)="speaker_item.data[0].is_editing = false;">
        <app-icon-check className="user-card__input--icon" ngcli></app-icon-check>
      </button>
    </div>

    <!-- list of sessions -->
    <div  class="user-card__sessions" *ngIf="speakerSessions.id && speakerSessions.id === speaker_item.id">
      <mat-spinner class="user-card__tooltip--spinner" *ngIf="isLoadingSpeakerSessions"></mat-spinner>
      <div class="user-card__sessions--list" *ngFor="let speaker_session_item of speakerSessions.list">
        <div class="user-card__sessions--data" *ngFor="let speaker_session_data of speaker_session_item.data">{{ speaker_session_data.value }}</div>
      </div>
    </div>

  </div>

</div>