.user-card {
  position: relative;
  display: flex;
  margin: 2rem;
  width: calc(100% - 4rem);
  min-height: 4rem;
  box-shadow: 0 2px 9px 0 rgb(0 0 0 / 8%), 0 0 1px 0 rgb(0 0 0 / 20%);
  border-radius: 0.5rem;
  padding-left: 0.6rem;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0.6rem;
    height: 100%;
    border-radius: 0.5rem 0 0 0.5rem;
  }
  
  &:nth-child(odd) {
    &::after {
      background-color: rgb(0, 34, 68);
    }
  }
  
  &:nth-child(even) {
    &::after {
      background-color: rgb(252, 76, 2);
    }
  }

  &__arrow-button {
    display: flex;
    justify-content: center;
    width: 4rem;
    height: 100%;
    padding: 1rem;
    border: none;
    outline: none !important;
    background-color: transparent;
  }

  &__arrow-icon {
    fill: rgb(29, 34, 40);
    width: 1rem;
    height: 1rem;
    transform: rotate(-90deg);
    margin-top: 0.6rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: calc(100% - 5rem);
  }

  &__title {
    display: flex;
    align-items: center;
    height: 4rem;
    width: 100%;
    &--text {
      font-weight: bold;
      margin: 0;
    }
    &:hover .user-card__tooltip {
      visibility: visible !important;
    }
  }

  &__tooltip {
    display: flex;
    justify-content: center;
    z-index: 10;
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 2rem;
    width: calc(100% - 4rem);
    background-color: white;
    border-radius: 0.5rem;
    background-color: black;
    opacity: 0.7;
    color: white;

    &::after {
      content: "";
      position: absolute;
      top: -0.6rem;
      left: 2rem;
      border-bottom: 0.6rem solid black;
      border-left: 0.6rem solid transparent;
      border-right: 0.6rem solid transparent;
    }

    &--text {
      width: 100%;
      max-height: 100%;
      overflow-y: auto;
      padding: 1rem;
      margin: 0;
      color: white;
    }

    &--spinner {
      width: 3rem !important;
      height: 3rem !important;
      & svg {
        width: 3rem !important;
        height: 3rem !important;
      }
      margin: 1rem;
    }
  }

  &__sessions {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    
    &--list {
      width: 100%;
      margin: 0.5rem 0;
      padding: 1rem;
      box-shadow: 0 0.1rem 0.3rem rgba(0,0,0,0.2);
      border-radius: 0.5rem;
      padding: 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    &--data {
      width: 50%;
      text-align: left;
      &:nth-child(2) {
        text-align: right;
      }
    }
  }
}

body.dark-theme {
  & .user-card {
  }
}

.scroll-bar body .home__side--container::-webkit-scrollbar {
  width: 0.6rem;
  height: 0.6rem;
}
.scroll-bar body.dark-theme .home__side--container::-webkit-scrollbar {
  width: 0.6rem;
  height: 0.6rem;
}