$background_color: white;
$black: #444;
$black-light: #aaa;
$white: #ddd;
$xsRadius: 0.2rem;
$sRadius: 0.3rem;
$lRadius: 0.6rem;
$xlRadius: 1rem;
$sShadow: 0 0.05rem 0.2rem rgba(0, 0, 0, 0.5);
$lShadow: 0 0 0.5rem rgba(0, 0, 0, 0.35);